				<div class="d-flex align-items-center" id="login">
					<div class="mx-auto p-2 bloc" style="display:inline-block">
						<form id="form_reset" class="p-0 m-0" method="post" action="<%= form_action %>">
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="Email adress" autofocus>
							</div>
							
							<div class="form-group">
								<input type="password" name="psw" class="form-control" placeholder="Your password" aria-describedby="pswHelp">
								<small id="pswHelp" class="form-text text-muted">Minimum 8 characters with 1 uppercase, 1 lowercase and 1 number.</small>
							</div>
							
							<div class="form-group">
								<input type="password" name="confirm_psw" class="form-control" placeholder="Confirm your password">
							</div>
							
							<div class="form-group">
								<button style="width:100%" class="btn btn-info" type="submit" name="psw_reset" title="Create your account">Reset my password</button>
							</div>
						</form>
					</div>
				</div>